{% extends "nav-bar.html" %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block content %}
<h1> {{ message }} </h1>
<form id="new-book" method="POST" class="needs-validation">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.title.label }} {{ form.title(class_="form-control") }}
	{{ form.author.label }} {{ form.author(class_="form-control") }}
	{{ form.isbn.label }} {{ form.isbn(class_="form-control") }}
	{{ form.year.label }} {{ form.year(class_="form-control") }}
	{{ form.rating.label }} {{ form.rating(class_="form-control") }}
	{{ form.review.label }} {{ form.review(class_="form-control") }}
    </div>
    {{ form.submit(class_="btn btn-primary") }}
</form>
{% endblock %}
