{% extends "nav-bar.html" %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% block content %}
<h1>{{ author }}</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Book Title</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <th>{{ loop.index }}</th>
	    <td>{{ book.title }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
